/*importação da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*criando variáveis*/
:root {
    --primary-color: #f5cf06;
    --secondary-color: #8e4106;
}

body {
    height: 100vh; /*100% do que estou vendo*/
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /*divide igualmente em 12 partes de 1fr*/
    width: 90vw; /*90% do que estou vendo*/
    margin: auto; /*centraliza o objeto, no caso vai centralizar o grid*/
}
header {
    margin-top: 70px;
}
header a {
    grid-column: 1/-1; /*header a irá preencher todo o espaço disponível*/
    display: flex;
    align-items: center;
    gap: 16px; /*espaço entre os itens do display*/
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem; /*1rem = 16px*/
    font-family: 'Righteous', cursive;
}
main {
    background-color: tomato;
    flex-grow: 1; /*main fica maior, quanto maior o número, maior o espaço preenchido pelo main*/
}
footer {
    margin-bottom: 24px;
    background-color: plum;
}
