/*importação da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*criando variáveis*/
:root {
    --primary-color: #f5cf06;
    --secondary-color: #8e4106;
}

body {
    height: 100vh; /*100% do que estou vendo*/
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', cursive;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /*divide igualmente em 12 partes de 1fr*/
    width: 90vw; /*90% do que estou vendo*/
    margin: auto; /*centraliza o objeto, no caso vai centralizar o grid*/
}
header {
    margin-top: 70px;
}
header a {
    grid-column: 1/-1; /*header a irá preencher todo o espaço disponível*/
    display: flex;
    align-items: center;
    gap: 16px; /*espaço entre os itens do display*/
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem; /*1rem = 16px*/
}
main {
    flex-grow: 1; /*main fica maior, quanto maior o número, maior o espaço preenchido pelo main*/
}
.tittle {
    position: relative;
    grid-column: 1/-1;
    place-self: center; /*centraliza a div tittle*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tittle_text {
    font-size: 20vw; 
    color: #fff;
}
.tittle__transparent {
    position: absolute;
    font-size: 27vw;
    top: -50%;
    color: #fff4;
    z-index: -1;
}
.description {
    grid-column: 1/7;
    color: var(--secondary-color);
    place-self:  start;
    z-index: 1;
}
.description__tittle {
    font-size: 4rem;
}
.description__text {
    width: 500px;
    font-size: 1.2rem;
}
.action {
    grid-column: 7/-1;
    place-self: start end;
    height: 100px;
    width: 411px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.footer__text {
    grid-column: 1/-1;
    place-self: center;
    margin-bottom: 24px;
    color: var(--secondary-color);
    font-size: 1rem;
}
.pikachu-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*top, left e transform colocam no centro a imagem*/
}
